.baseLayout {
  display: flex;
  list-style: none;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  color: black;
  height: 60px;
}
.baseLi :hover {
  font-size: large;
}
.profileImg {
  width: 32px;
  border-radius: 20px;
  margin-right: 5px;
  background-color: grey;
  color: white;
}
.logIn {
  display: flex;
  align-items: center;
}
